.name-navbar {
  margin: 20px 0;
  color: #fff;
  font-weight: bold;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Noto Sans HK', sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

.card {
  width: 100%;
  border: 1px solid #eee;
  background: #fff;
  box-shadow: 0 0 5px 1px #ccc;
}

.signin-container, .signup-container {
  width: 400px;
  position: relative;
  margin: 50px auto;
}